.Main {
  background-color: rgba(5, 28, 62, 0.775);
  height: 100vh;
  padding: 24px;
}

/* Input Start */

.InputWrap {
  display: flex;
  height: 50px;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.775);
}

.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: rgb(141, 147, 161);
  font-size: 18px;
  color: rgb(7, 7, 0);
  border: none;
  outline: 0;
}

.Button {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgba(74, 79, 86, 0.775);
}

/* Input Finish */

/* Card Start */

.CardList {
  display: flex;
}

.Card {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: rgb(12, 77, 77);
  font-size: 14px;
  color: azure;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1px #060606;
}

.Card:first-child {
  margin-left: 0;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 24px;
  font-weight: 500;
}

Description {
  margin-top: 4px;
  font-size: 16px;
}

.Temperature {
  margin-top: 12px;
  font-size: 40px;
  font-weight: 500;
}

.Temperature::after {
  content: "°";
}

.Information {
  margin-top: 12px;
}

.Information > div {
  margin-top: 4px;
}

/* Card Finish */
